 
<div class='wrapright'>
    <div class='top'>  
        <a class='uname'><h4>{{ uname }}</h4></a>
        <div class='set_tab'><a href='edit' class='edit_profile'>Edit Profile</a> 
          <a class="use-ajax"
   data-dialog-options="{&quot;height&quot;:560}"
   data-dialog-type="modal"
   href="./settings">
  <i class="fas fa-cog"></i>
</a></div>
    </div>
    <div class='wrapcount'> 
        <span>{{ post_count }}<a> posts</a></span> 
        <span>{{ followers_count }} {{ markup2 }}{{ attached }}</span> 
        <span>{{ following_count }} {{ markup1 }}{{ attached }}</span> 
    </div>
    <div class='bottom'> 
        <p class='name'>{{ name }}</p> 
        <p class='bio'>{{ bio }}</p> 
    </div>
</div>
